<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CharacterViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA46743C1F51A68B00452520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4674521F51A68B00452520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA46745D1F51A68B00452520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
